<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>LinkedIn</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body data-theme="linkedin">
    <div class="login-box">
        <img src="/static/images/linkedin-logo.png" alt="LinkedIn" class="logo">
        <h2>Entrar no LinkedIn</h2>
        <input type="text" id="email" placeholder="Email ou telefone">
        <input type="password" id="password" placeholder="Senha">
        <button onclick="fakeLogin()">Entrar</button>
        <div class="additional-links">
            <a href="#">Esqueceu a senha?</a>
            <div class="divider"></div>
            <a href="#">Criar nova conta</a>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html> 