<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>X (Twitter)</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body data-theme="twitter">
    <div class="login-box">
        <img src="/static/images/twitter-logo.jpg" alt="X (Twitter)" class="logo">
        <h2>Entrar no X</h2>
        <input type="text" id="email" placeholder="Email ou nome de usuário">
        <input type="password" id="password" placeholder="Senha">
        <button onclick="fakeLogin()">Entrar</button>
        <div class="additional-links">
            <a href="#">Esqueceu a senha?</a>
            <div class="divider"></div>
            <a href="#">Criar nova conta</a>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>